@model ConciergeV1.Models.Tran_Pick_Drop

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tran Pick Drop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción pick:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesPick)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodPick }) |
    @Html.ActionLink("Regresar atrás", "Index")
</p>
