@{
    ViewBag.Title = "Home Page";
}

<section class="content container-fluid">
    <img src="~/Content/Images/logo.svg" class="rounded mx-auto d-block" alt="Nayara Resorts - Nayara Springs - Costa Rica">
</section>
