@model ConciergeV1.Models.Tran_Tipo_Transporte

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tipo transporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción tipo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Codtip }) |
    @Html.ActionLink("Regresar atrás", "Index")
</p>
